# macOS
.DS_Store

# CMake build directories
cmake-build-*/

# CMake (common)
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json

# Build outputs
*.o
*.a
*.so
*.dylib
*.exe

# JetBrains / CLion
.idea/
